.author {
    background: linear-gradient(109.6deg, rgb(181, 194, 8) 11.2%, rgb(17, 150, 114) 57.8%, rgb(22, 180, 201) 85.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

@media (max-width: 768px) {
    .bg {
        padding: 0 2rem;
    }

    .author {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .bg {
        padding: 0 1rem;
    }

    .author {
        font-size: 1.5rem;
        text-align: center;
        line-height: 1;
    }
}
